@model IEnumerable<ImmigrationNewSetup.Models.studentdetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><b>Index</b></h2>

<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="table1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StudentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TrackingID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fathername)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.intake)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.uid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>Action</th>
            </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrackingID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fathername)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.intake) @Html.DisplayFor(model => item.year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.uid)
                    </td>
                    <td>
                        @Convert.ToDateTime(item.date).ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }, new { @class = "label label-warning" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.StudentId }, new { @class = "label label-primary" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.StudentId }, new { @class = "label label-danger" }) |
                        @Html.ActionLink("Docs", "Docs", new { student = item.StudentId }, new { @class = "label label-success" })
                    </td>
                </tr>
            }

    </table>
    </div>
