@model ImmigrationNewSetup.Models.Studentdocs

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Studentdocs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>

            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Convert.ToDateTime(Model.date).ToString("dd/MM/yyyy")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profile)
        </dt>

        <dd>
            <img src="~/UploadedFiles/@Model.profile" alt="Profile pic" style="width:100px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.education)
        </dt>

        <dd>
            @{ string[] education = Model.education.Split(',');
                foreach (var mm in education.ToList())
                {
                    <img src="~/UploadedFiles/@mm" alt="education records" style="width:150px;" />
                }
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.family)
        </dt>
        <dd>
            @{ string[] familydocs = Model.family.Split(',');
                foreach (var mm1 in familydocs.ToList())
                {
                    <img src="~/UploadedFiles/@mm1" alt="family records" style="width:150px;" />
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.other)
        </dt>
        <dd>
            @{ string[] others = Model.other.Split(',');
                foreach (var mm2 in others.ToList())
                {
                    <img src="~/UploadedFiles/@mm2" alt="other records" style="width:150px;" />
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })
</p>
